.quienes-somos{
  .content-section{
    margin-top: 56px;
    padding-left: 20px;
    padding-right: 20px;

    @include media($md) {
      @include outer-container;
      padding-left: 0;
      padding-right: 0;
    }
  }

  .description, .map-section{
    color: $white;
    text-align: justify;

    @include media($md) {
      @include span-columns(6);
      @include omega(2n);
      text-align: left;
    }
  }

  .description{
    @include media($md) {
      padding-top: 80px;
    }
    p{
      @include fontSize(24px);
      line-height: 34px;
    }
  }


  .map-section{
    text-align: right;
  }

  .acf-map{
    border-radius: 50%;
    display: inline-block;
    border: 3px solid $gold;
    width: 100%;
    height: auto;
    @include media($md) {
      width: 400px;
      height: 400px;
    }
  }
}
