.site-footer{
  padding-top: $base-spacing*2;
  padding-bottom: $base-spacing*2;

  .wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .secondary-navbar{
    flex-grow: 2;
  }
  .social{

  }
  .footer-branding{

  }
}

.footer-branding{
  margin-bottom: $base-spacing;
  .site-title{
    @include fontSize(48px);
    font-weight: 600;
    font-style: italic;
    color: $white;
    margin-bottom: $base-spacing * 0.5;
    color: $white;
  }

  .site-description{
    @include fontSize(26px);
    font-weight: 300;
  }
}


