.site-header{
  position: relative;
}

.site-branding, .product-description{
  text-align: center;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translate(0%, -50%);
  z-index: 10;
  margin-top: -70px;
}

.site-title h1, .site-description{
  color: $white;
  user-select: none;
  cursor: default;
}

.site-title h1{
  @include fontSize(78px);
  line-height: 80px;
  font-style: italic;
  font-weight: 700;
  margin-top: 0;
  @include textShadow();
}

.site-description{
  @include fontSize(26px);
  line-height: 40px;
  font-weight: 500;
  @include textShadow();
}
