.list-home-item-products{
  @include outer-container;
  padding: 0 10px;
  margin-top: 150px;
  &:after {
    display: none;
  }

  @include media($md) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px;
  }
}

.home-item-product{
  @include margin(null null 100px);
  border: 3px solid $gold;
  background-color: $white;
  text-align: center;
  float: none;
  padding: 90px 10px 60px 10px;
  position: relative;
  width: 100%;

  &:last-child {
    @include margin(null null 0);

    @include media($md) {
      @include margin(null null 100px);
    }
  }

  .btn {
    @include position(absolute , null 0 10px);
  }

  @include media($md) {
    @include span-columns(4);
    @include omega(3n);
  }
}

.image-home-product{
  margin: 0;
  display: inline-block;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 0px;
  left: 50%;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid $gold;

  img{
    display: block;
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
}

.title-home-product{
  @include fontSize(27px);
  line-height: 40px;
}

.description-home-product{
  @include fontSize(20px);
  line-height: 24px;
}

.nuestros-productos {
  padding-top: 90px;
  padding-bottom: 70px;

  @include media($md) {
    padding-top: 90px;
    padding-bottom: 140px;
  }
}
