.list-home-item-products{
  @include outer-container;
  padding: 0px;
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &:after {
    display: none;
  }
}

.home-item-product{
  @include margin(null null 100px);
  @include span-columns(4);
  @include omega(3n);
  border: 3px solid $gold;
  background-color: $white;
  text-align: center;
  float: none;
  padding: 90px 10px 60px 10px;
  position: relative;

  .btn {
    @include position(absolute , null 0 10px);
  }
}

.image-home-product{
  margin: 0;
  display: inline-block;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 0px;
  left: 50%;
  img{
    display: block;
    width: 150px;
    height: auto;
  }
}

.title-home-product{
  @include fontSize(27px);
  line-height: 40px;
}

.description-home-product{
  @include fontSize(20px);
  line-height: 24px;
}
