.section-title, .section-description{
  color: $white;
}


.section-title{
  @include fontSize(60px);
  @include textShadow();
  font-style: italic;
  font-weight: 600;
}

.section-description{
  @include padding(null 10%);

  p {
    @include fontSize(20px);
  }
}

.grid-products{
  background-color: $purple3;
}
