.single-list-products{
  @include clearfix;
  display: flex;
  flex-wrap: wrap;
}

.item-product{
  background-color: $white;
  @include span-columns(4);
  padding: 10px;

  img{
    width: 100%;
  }

  p{
    @include fontSize(15px);
    line-height: 18px;
    font-weight: 600;
  }

}
