.single-list-products{
  @include outer-container;

  @include media($md) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.item-product{
  background-color: $white;
  padding: 10px;
  margin-bottom: 25px;

  @include media($md) {
    @include span-columns(4);
    @include omega(3n);
  }

  img{
    width: 100%;
  }

  p{
    @include fontSize(15px);
    line-height: 18px;
    font-weight: 600;
  }

}
