/* =Variables
-------------------------------------------------------------- */
$josefin:'Josefin Slab';
$title: $josefin;
$content: $josefin;

$base-font-size: 16px;
$base-body-color: #fff;

$icon-color: #27142c;
$primary-font-color: #27142c;

$grey: #ededed;
$link-color: #27142c;

$shadow: rgba(0, 0, 0, .6);
