// Breakpoints
$medium-screen: 600px;
$large-screen: 900px;

// Typography
$josefin:'Josefin Slab';
$sans-serif: $josefin;
$serif: $josefin;
$base-font-family: $josefin;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 16px;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 16px;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$purple1: #0f0213;
$purple2: #1b0920;
$purple3: #27142c;
$purple4: #4f3655;

$gold: #dbbe86;

$white: #ffffff;

$facebook: #3b5698;
$twitter: #4099ff;
$googleplus: #d9553c;

// Font Colors
$base-font-color: $white;
$action-color: $gold;

// Border
$base-border-color: $gold;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: $purple1;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
