header {
    position: relative;
    z-index: 1;
}
.site-branding {
    text-align: center;
    .site-title {
        a,a:visited {
            line-height: 1;
        }
    }

    .site-description {
        padding: 25px 0 0 0;
        font-size: rem(20);
        margin-bottom: 30px;
    }
}
