/* =Structure/Scaffolding
-------------------------------------------------------------- */
@include ltr {
		body {
			background-color: $base-body-color;
			color: $primary-font-color;
			font-family: $content;
			line-height: 1.5em;
			word-break: break-word;
		}
}

@include rtl {
	body {
		background-color: $base-body-color;
		color: $primary-font-color;
		font-family: $content;
		line-height: 1.5em;
		word-break: break-word;
		direction: rtl;
	  unicode-bidi: embed;
	}
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {

}
body {
  color: #000;
  font-family: $josefin;
  line-height: 1.5em;
  word-break: break-word;
  background-color: $base-background-color;
}

.wrap {
	@include outer-container;
}


section{
	padding-top: 90px;
	padding-bottom: 140px;
}
